<!DOCTYPE html>
<meta charset="utf-8">
<body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.highcharts.com/highcharts.src.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  Highchart Graph generator       */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

Graph = function (divId, initData, title) {
  highchart = {
    chart: {
        type: 'area',
        events: { 
          load: function () {
            var series = this.series;
						setInterval(function () {
							var removed = series[0].data.shift();
							var idx = series[0].data.length - 1;
							var time = (new Date(series[0].data[idx].x)).getTime() + 1000;
							series[0].addPoint({ x: time, y: removed.y });
            }, 1000);
          }
        }
    },
    title: {
        text: 'Instance ' + title
    },
		xAxis: {
			type: 'datetime',
			tickPixelInterval: 150,
      title: { text: 'Time' } // TODO: This is hard coded, but units are flexible
    },
    yAxis: {
			title: {
				text: '%'
			},
			plotLines: [{
					value: 0,
					width: 100
			}]
    },
    plotOptions: {
        area: {
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        }
    },
		series: [{
			name: initData.name,
			data:
				(function() {
					var data = [];
					for (var i = 0; i < initData.data.length; i++) {
						var time = new Date(
							initData.data[i].x[2],
							initData.data[i].x[3],
							initData.data[i].x[4],
							initData.data[i].x[5],
							initData.data[i].x[6],
							initData.data[i].x[7],
							0
							);
						data.push({
							x: time,
							y: initData.data[i].y
						});
					}
					return data;
				})()
		}]
  }; // end highchart

  $('#' + divId).highcharts(highchart);
  var highchart = $('#' + divId).highcharts();

  // Sirius: I've added a method you can call to redraw the graph.
  // If the data array you've passed in is changed, it will be
  // reflected in the graph.
  // Inspired by: http://api.highcharts.com/highcharts#series.data.events.update
  //
  // Usage: 
  // g = Graph($('#container'), dataset);
  // g.update();

  highchart.__proto__.update = function () {
    series = this.series;
    for (var i=0; i<series.length; i++) {
      series[i].update();
    }
  }

  return highchart;
}
    
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Graph initialization             */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
dataset = {};
graphs = {};

function format(dataPoints) { 
	data = [];
	for (var i = 0; i < dataPoints.length; i++) {
		var key = dataPoints[i].key;
    var avg = dataPoints[i].value.sum / dataPoints[i].value.count;
		data.push({ x: key, y: avg});
	}
  return data;
}

function fetch (timespan, completionCallback) {
  counter = 0;

	var completionReq = 0;
	var completionCount = 0;
	for (var instanceKey in dataset) {
		for (var dataKey in dataset[instanceKey]) {
			completionReq += dataset[instanceKey][dataKey].name.length;
		}
	}
  for (var instanceKey in dataset) { 
		dataset[instanceKey].forEach(function(datum) {
			for (var metricKey in datum.name) {
				url = "metrics/" + instanceKey + "/" + datum.name[metricKey] + "/" + timespan + "/";
				$.ajax({
					url: url
				}).done(function(data) {
					datum.data = format(data);
				}).fail(function(jqXHR, textStatus, errorThrown) {
					console.log("ERROR: " + textStatus);
				}).always(function() {
					completionCount++;
					if (completionCount >= completionReq) {
						completionCallback();
					}
				});
			}
    });

  }
}

$(function () { 
  // Fetch hosts and metrics for what graphs to draw
  $.ajax({
    url: "hosts-and-metrics"
  }).done(function(data){
    for (var key in data) { 
      // Initialize our dataset objects 
      dataset[key] = [];

      for (var i=0; i<data[key].length; i++) { 
        dataset[key].push({name: data[key]});
      }
    }

		fetch(4 * 60 * 60, function() {
			// Delayed graph drawing
			// Okay, so I can't get the real-time updating to work. Unfortunate. 
			// I mighta made some headway. Check the comments in the highcharts code
			// above. 
			// contents.html has an example of real-time updating. Maybe that'll point
			// you in the right direction. Otherwise, I provided links to real-time 
			// fiddle.js for highchart graphs in comments in highcharts code above.

      // highchart
      for (var key in dataset) { 
				containsData = false;
				for (var i = 0; i < dataset[key].length; i++) {
					if (dataset[key][i].data && dataset[key][i].data.length > 0) {
						containsData = true;
					}
				}

        if (containsData) {
          $("body").append("<div id='" + counter + "'></div>");
          graphs[key] = Graph(counter, dataset[key][0], key);
          counter++;
        }
			}
    }); // end call to fetch
	}); // end ajax.done for "hosts-and-metrics"
});

</script>	

</body>
</html>
